html, body {
    margin: 0;
    scroll-behavior: smooth;
}

/** Color Palette **/
:root{
    --light-gray: #ECECEC;
    --dark-gray: rgb(80, 80, 80);
    --dark-gray-opacity8: rgba(80, 80, 80, 0.8);
    --dark-gray-opacity9: rgba(80, 80, 80, 0.9);
    --gray-blue: #93afcc;
}

/** Responsive Design **/
/* Don't let these elements overflow their container */
img, embed, object, video{
    max-width: 100%;
}

/* Keep tap targets at least 48px apart */
a, button, .taptarget {
    min-width: 48px;
    min-height: 48px;
}

/** General Style **/
h1 {
    font-family: 'Handlee', sans-serif;
}

h2, h3 {
    font-family: 'Roboto', sans-serif;
}

p, span, a {
    font-family: 'Lato', sans-serif;
}

a[target="_blank"]:after {
    content: url(../images/externalLinkWhite.png);
    margin: 0 3px 0 5px;
}

/** General Design **/
:root{
    --header-height: 100px;
    --section-padding: 50px;
}

header{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 1;
}

#header_title {
    flex-grow: 2;
    display: flex;
}

#profile_img {
    margin: auto;
    margin-left: 25px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Display as circle */
}

#name{
    font-size: 50px;
    line-height: var(--header-height);
    margin: auto 0;
    height: 100%;
    text-align: center;
}

nav {
    flex-grow: 3;
    display: flex;
}

nav a {
    font-size: 30px;
    line-height: var(--header-height);
    margin: auto 0;
    text-decoration: none;
    color: black;
    height: 100%;
    flex-grow: 1;
    text-align: center;
}

nav a:hover {
    background-color: var(--dark-gray);
    color: white; 
}

main {
    background-color: white;
    min-height: calc(100vh - var(--header-height))
}

.section {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.75em;
    padding: var(--section-padding);
}

.section h1 {
    text-align: center;
    margin-bottom: 30px;
}

.section p {
    margin: 0 auto;
}

#aboutMeContainer {
    flex-direction: row-reverse;
    background-image: url("../images/aboutMeDenimFilter.jpg"), linear-gradient(90deg, black, black);
    background-position: center left;
    background-color: var(--gray-blue);
    background-blend-mode: soft-light;
    color: var(--light-gray);
}

#aboutMeTextContainer {
    width: 70%;
    margin: auto 0;
}

#aboutMeTextContainer p {
    width: 80%;
}

.experienceListItem {
    margin-top: 30px;
}

.experienceTextContainer {
    margin-top: 0;
}

#experienceContainer {
   background-color: var(--light-gray);
}

.grid {
    display: grid;
    gap: 20px;
    --grid-item-height: 400px;
    grid-template-columns: repeat(auto-fit, var(--grid-item-height));
    /* This does the trick */
    justify-content: center;
}

.gridItem {
    /* Background image with caption/text underneath*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column-reverse;
    height: var(--grid-item-height);
    width: var(--grid-item-height); /* Assuming square image */
    max-height: 80vw;
    max-width: 80vw;
    margin: 0 auto;
}

.gridItemTextContainer {
    /* Scroll up dark gray background from caption to display short description */
    background-color: var(--dark-gray-opacity8);
    --grid-item-text-container-height: 50px;
    height: var(--grid-item-text-container-height);
    transition: height 300ms linear, background-color 300ms linear;
    overflow-y: hidden;
    padding: 0 15px;
    color: var(--light-gray);
    font-size: 0.5em;
}

.gridItemTextContainer:hover {
    height: 100%;
    background-color: var(--dark-gray-opacity9);
}

.gridItemTextContainer h2 {
    margin: 0;
    line-height: var(--grid-item-text-container-height);
}

.gridItemTextContainer h2 a, .gridItemTextContainer h2 a:hover, .gridItemTextContainer h2 a:visited, .gridItemTextContainer h2 a:active {
    color: inherit;
}

#MechMania25 {
    background-image: url(../images/MM25Square.png);
}

footer {
    padding: 15px 0;
    background-color: var(--dark-gray);
    color: var(--light-gray);
}