<link rel="stylesheet" href="/components/work-item/work-item.css">

<div class="work-item">
    <div class="work-heading">
        <h2 class="heading-spread text-gradient-accent">
            <slot name="company">Company</slot>
        </h2>
        <h3 class="fw-bold">
            <slot name="job-title">Job Title</slot>
        </h3>
        <span class="subtitle">
            <slot name="time">Start - End</slot>
        </span>
    </div>
    <div class="work-logo | flex-column flex-end">
        <slot name="logo"></slot>
        <!-- <img src="images/logos/Samsung_Orig_Wordmark_BLUE_RGB.png" alt="Samsung" loading="lazy"> -->
    </div>
    <div class="work-description">
        <slot name="description">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur ipsam, expedita eos earum quisquam explicabo, nisi maiores unde cum fugit sint culpa exercitationem excepturi in hic numquam, obcaecati repudiandae. Blanditiis.</p>
        </slot>
    </div>
</div>