@use "../global/variables" as *;

.project-link-icons a {
    transition: color 200ms ease;
    color: var(--clr-text-default-medium);
}

.project-link-icons a:hover {
    color: var(--clr-text-default);
}