@use "../global/variables" as *;

.work-item {
    .work-logo {
        flex-basis: 50%;
        flex-grow: 1;
        align-items: flex-end;

        img {
            height: 0;
            flex-grow: 1;

            object-fit: contain;
            object-position: bottom right;
        }
    }
}