<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page Not Found | Sahil Patel</title>
    <module href="/components/head.html"></module>
  </head>

  <body>
    <module href="/components/primary-header.html"></module>

    <main>
      <div class="container">
        <p class="text-center mt-800">The page you were looking for was not found.</p>
      </div>
    </main>
    
    <module href="/components/primary-footer.html"></module>

    <script src="/bundle.js" defer async></script>
  </body>
</html>
