<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sahil Patel</title>
    <module href="/components/head.html"></module>
    <link rel="stylesheet" href="/index.css">
  </head>

  <body>
    <module href="/components/primary-header.html"></module>

    <main>
      <section id="about" class="hero | container">
        <div class="hero-text-container">
          <h1>A journey in computer graphics</h1>
          <p class="fs-400">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae quae temporibus nulla debitis reiciendis enim exercitationem perspiciatis dolor animi voluptatem tempore eaque, eveniet rerum delectus suscipit, adipisci inventore porro magni.</p>
        </div>
        <div>
          <img src="images/profiles/sahil-park.jpg" alt="" loading="lazy">
        </div>
      </section>

      <section id="experience" class="work-experience | container">
        <h1 class="section-title">Work Experience</h1>
        
        <div class="flow">
          <each loop="slug in featured.jobs">
            <module href="/components/work-item.html" slug="{{ slug }}" long="false"></module>
          </each>
          
          <div class="text-center">
            <a class="see-more-link subtitle" href="/experience">
              See full work history
              <i class="bi-arrow-right"></i>
            </a>
          </div>   
        </div>
      </section>

      <section id="abroad" class="abroad">
        <div class="container">
          <h1 class="section-title">Travel Abroad</h1>
        </div>

        <div>
          <each loop="slug in featured.abroad">
            <module href="/components/travel-card.html" slug="{{ slug }}"></module>
          </each>
        </div>
      </section>

      <section id="projects" class="projects | container">
        <h1 class="section-title">Projects</h1>
        <div class="flow">
          <each loop="slug in featured.projects">
            <module href="/components/project-card.html" slug="{{ slug }}"></module>
          </each>

          <div class="text-center">
            <a class="see-more-link subtitle" href="/projects">
              <span>See all projects</span>
              <i class="bi-arrow-right"></i>
            </a>    
          </div>
        </div>
      </section>
      
    </main>
    
    <module href="/components/primary-footer.html"></module>

    <script src="/bundle.js" defer async></script>
  </body>
</html>
