---
import ProfessionalPage from "@layouts/professional-page.astro";
---

<ProfessionalPage title="Page Not Found | Sahil Patel">
    <div class="container">
      <p class="text-center mt-800">The page you were looking for was not found.</p>
    </div>
</ProfessionalPage>