---
import BasicPage from "../layouts/basic-page.astro";
---

<BasicPage>
    <title slot="title">Page Not Found | Sahil Patel</title>

    <div class="container">
      <p class="text-center mt-800">The page you were looking for was not found.</p>
    </div>
</BasicPage>