---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { orderSort } from '../util';

import ProfessionalPage from '@layouts/professional-page.astro';

import WorkItem from '@components/page-specific/work-item.astro';


const jobs = orderSort<CollectionEntry<"jobs">>(await getCollection("jobs"));
---

<ProfessionalPage title="Experience | Sahil Patel">
    <div class="container">
        <h1 class="section-title">Work Experience</h1>

        <div class="flow flow-700">
            { jobs.map(job => <WorkItem job={job} long={true}  />) }
        </div>
    </div>
</ProfessionalPage>