---
import { getSlug, orderSort } from '../util';

// Local CSS
import "../scss/index.scss";

// Data
import featured from "../data/featured";
const jobs = orderSort(await Astro.glob('../data/jobs/*.mdx')).slice(0, 1);
const abroad = orderSort(await Astro.glob('../data/abroad/*.mdx'));
const projects = orderSort(await Astro.glob('../data/projects/*.mdx'));

// Layout
import BasicPage from "../layouts/basic-page.astro";

// Components
import WorkItem from "../components/work-item.astro";
import TravelCard from "../components/travel-card.astro";
import ProjectCard from "../components/project-card.astro";
---

<BasicPage>
    <title slot="title">Sahil Patel</title>

    <section id="about" class="hero | container">
        <div class="hero-text-container">
            <h1>A journey of discovery in computer engineering</h1>
            <p class="fs-400">
                Hi, I'm Sahil! I currently work at Samsung SARC/ACL and am a
                recent graduate of the University of Illinois at Urbana
                Champaign with a degree in computer engineering. Check out the
                content below to learn about my work experience, trips abroad,
                and a list of all my tech projects!
            </p>
        </div>
        <div>
            <img src="/images/profiles/sahil-park.jpg" alt="" />
        </div>
    </section>

    <section id="experience" class="work-experience | container">
        <h1 class="section-title">Work Experience</h1>

        <div class="flow">
            { jobs.map( job => <WorkItem job={ job } long={ false } /> ) }

            <div class="text-center">
                <a class="see-more-link subtitle" href="/experience">
                    See full work history
                    <i class="bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>

    <section id="abroad" class="abroad">
        <div class="container">
            <h1 class="section-title">Travel Abroad</h1>
        </div>

        <div>
            {
                featured.abroad.map( slug => {
                    const item = abroad.find( item => getSlug(item.file) === slug);
                    return <TravelCard item={ item } />
                })
            }
        </div>
    </section>

    <section id="projects" class="projects | container">
        <h1 class="section-title">Projects</h1>
        <div class="flow">
            {
                featured.projects.map( slug => {
                    const item = projects.find( item => getSlug(item.file) === slug);
                    return <ProjectCard item={ item } />
                })
            }

            <div class="text-center">
                <a class="see-more-link subtitle" href="/projects">
                    <span>See all projects</span>
                    <i class="bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
</BasicPage>
