<script locals>module.exports = {slug: "foodle"}</script>
<module href="/components/project-page.html" slug="{{ slug }}">
    <markdown>
        This project is the earliest one on this site, and it holds a special place in my heart because it was the result of my first hackathon: HackRidge 2018.

        I was in the middle of my other early project, the [NHS Website](/projects/nhs-website), and my friend Ben asked if I was interested in joining him and two others for a hackathon at a nearby high school. I had never heard of such a thing before, but the idea seemed cool and I knew I liked working on projects with him.

        We arrived and had to decide on a project idea. We went through a couple before settling on Foodle, a website for recipe recommendations. Building off the experience I already had we created the site using PHP and MySQL. To create the recommendation feature we decided to take inspiration from *collaborative filtering*, a type of algorithm used by Netflix and other for recommendations. Of course, our take on it was extremely simple, effectively consisting of a triple for-loop rather than anything remotely performant.

        The result of our labor was a site that not only looked good (relatively at least), but also had cool functionalities, especially for something that was made in just 24 hours. Our hard work was rewarded with a first place prize, which felt amazing at the time.
        
        Ultimately, though, I look back fondly on this project not because of its substance but its circumstance. This hackathon really helped develop my love for programming. After all, you really can't spend 24 hours straight on a project without loving the work. Of course, we didn't really work the full time. We spent time playing game with each other and the other contestants, and indulged in the unique sense of community that emerges from collective sleep deprivation.
    </markdown>

    <img class="mt-400 w-100" src="/images/projects/hackridge.jpg"/>
</module>