<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sahil Patel</title>
    <module href="/components/head.html"></module>
    <link rel="stylesheet" href="/projects.css">
  </head>

  <body>
    <module href="/components/primary-header.html"></module>

    <main>
      <section class="container">
        <h1 class="section-title">Projects</h1>
        <div class="projects-grid">
          <each loop="value, slug in projects">
            <module href="/components/project-card.html" slug="{{ slug }}"></module>
          </each>
        </div>
      </section>
    </main>
    
    <module href="/components/primary-footer.html"></module>

    <script src="/bundle.js" defer async></script>
  </body>
</html>
