<script locals>module.exports = {slug: "mm26"}</script>
<module href="/components/project-page.html" slug="{{ slug }}">
    <markdown>
        Mech Mania is a student-run AI hackathon run as a part of [Reflections|Projections](https://reflectionsprojections.org), UIUC's annual tech conference. Each year we build a game to be played by scripts written by our contestants. While we are building a video game of sorts, the development process for the game engine is quite unique because it is interfaced by bots and is designed to quickly iterate through games.

        For Mech Mania 26 I was the Game Engine Lead, and it was quite the year to be stepping up. We typically create turn-based 1 vs. 1 games because they are the easiest run concurrently, create a bracket for, and feel "fair" to the winner and loser. This year, though, our leader was feeling ambitious and decided to make good on a long time dream of his: Mech Mania the MMORPG.

        MMO (or Massively Multiplayer Online) games are the opposite of 1 vs. 1. Instead, all the players simultaneously exist in the same game world. MMORPG's typically feature fantastical monsters which you can fight as well as player vs. player combat. This represented a major shift for Mech Mania, because it meant that we had to develop a system to determine the winner of the competition without a round-robin tournament to finish it out.
        
        Mech Mania 26 kept a single game world running for the full 24 hours and hot-swapped competitor's bots as improvements were made, keeping their stats along the way.

        With such an ambitious goal and a new game engine lead at the helm (that was me), there were bound to be some issues. Come competition day we struggled a bit with our networking and computing loads. Competitors also had a lot of questions about the format because it was so new. But ultimately we ran a great event and learned a lot about what game genres work well in a Mech Mania-style competition. While we won't likely try an MMO again for a while, Mech Mania 26 opened our minds to other creative formats for the future including 2 vs 2, 1 vs. N, battle royale, and more. 
    </markdown>
</module>