<script locals>module.exports = {slug: "nokia-robotics"}</script>
<module href="/components/project-page.html" slug="{{ slug }}">
    <markdown>
        During my Summer 2019 internship at Nokia, all the interns were invited to participate in a friendly robotics competition. Each team was given a BOEBot, an arduino starter kit including wheels and motors and an ultrasound sensor on a rotating neck. We were given three tasks which we would be judged on. 
        
        First, our bot would have to navigate an obstacle course and find the exit. Second, our bot would have to roam around to count how many of four possible pillars were currently placed on the field. And third, our bot would have to find three pillars randomly placed in the field and circle them all before returning to the center.

        Each challenge required its own strategy, so our team began by ideating on possible solutions, evaluating both their efficacy and the effort required (since this was a side project, after all). We were able to settle on strategies for the first and second challenges, but for the third we decided to try out two separate strategies and choose the better one on the day.

        Through this project I gained more experience working with Arduinos. The finite state machine skills I had developed in school served me well in translating our on-paper strategy into code for the BOEBot. In the end we did not finish first, but our bot performed well, and we were very proud of it!
    </markdown>

    <img class="mt-400 w-100" src="/images/projects/nokiaRoboticsTeam.jpg" alt="My robotics team"/>
</module>