---
import { getCollection } from "astro:content";
import featured from "../../featured";

import PersonalPage from "@layouts/personal-page.astro";
import ReviewCard from "@components/page-specific/review-card.astro";
import CollectionCard from "@components/page-specific/collection-card.astro";
import Image from "@components/general/image-wrapper.astro";

import heroImg from "@images/profiles/sahil-park.jpg"
import "@styles/index.scss";

const reviews     = await getCollection("reviews",     item => featured.reviews.includes(item.slug));
const collections = await getCollection("collections", item => featured.collections.includes(item.slug));

// Check that featured items were parsed correctly
if (reviews.length     != featured.reviews.length)     throw Error("Featured reviews incorrectly parsed! Check featured.ts");
if (collections.length != featured.collections.length) throw Error("Featured collections incorrectly parsed! Check featured.ts");
---
<PersonalPage>
    <title slot="title">Sahil Patel</title>

    <section id="about" class="hero | container">
        <div class="hero-text-container">
            <h1>Welcome to my corner of the internet</h1>
            <p class="fs-400">
                Hi, I'm Sahil! While I do also work in tech, I find that tech-as-a-hobby can be a lot of fun.
                My main enduring project to that end is this website where I've fashioned my own little
                corner of the internet. In this personal section, you'll find whatever I find interesting!
                Right now I plan to include reviews of book, movies, and more, as well collections of cool
                internet resources, and other random things that I find fun.
            </p>
        </div>
        <div>
            <Image src={heroImg} alt="A picture of me" />
        </div>
    </section>

    <section class="container">
        <h2 class="section-title">Featured Reviews</h2>
        <div class="grid-list">
            {
                reviews.map( item => {
                    return <ReviewCard item={ item } fillParent asLink/>
                })
            }
        </div>
        <div class="text-center mt-200">
            <a class="see-more-link subtitle" href="/personal/reviews">
                <span>See all reviews</span>
                <i class="bi-arrow-right"></i>
            </a>
        </div>
    </section>

    <section class="container">
        <h2 class="section-title">Featured Collections</h2>
        <div class="grid-list">
            {
                collections.map( item => {
                    return <CollectionCard item={ item } />
                })
            }
        </div>
        <div class="text-center mt-200">
            <a class="see-more-link subtitle" href="/personal/collections">
                <span>See all collections</span>
                <i class="bi-arrow-right"></i>
            </a>
        </div>
    </section>
</PersonalPage>
