---
import PersonalPage from "../../layouts/personal-page.astro";
---
<PersonalPage>
    <title slot="title">Personal | Sahil Patel</title>
    <div class="container">
        <p>This is the personal landing page. I'll put some content here soon...</p>
    </div>
</PersonalPage>