---
import type { CollectionEntry } from "astro:content";
import ProjectLinkIcons from "./project-link-icons.astro";

interface Props {
    item: CollectionEntry<"projects">
}
const { item } = Astro.props;
---

<div id={ item.slug } class="project-card | bg-img-overlay" style={`--bg-img-url: url(${ item.data.img }); ${ item.data.gif ? '--bg-gif-url: url(' + item.data.gif + ');' : ''} ${item.data.imgPos ? '--bg-position: ' + item.data.imgPos + ';' : ''}`}>
    <div class="overlay w-100 flow p-400">
        <div>
            <p class="heading-spread text-gradient-accent">{ item.data.category }</p>
            <h2 class="fw-bold">{ item.data.title }</h2>
        </div>

        <div set:html={ item.data.description }></div>

        <div class="project-links">
            <a class="see-more-link subtitle" href={`/projects/${ item.slug }`}>
                <span>Read more</span>
                <i class="bi-arrow-right"></i>
            </a>
            <ProjectLinkIcons links={ item.data.links } />
        </div>
    </div>
</div>