---
import type { CollectionEntry } from "astro:content";
import { getImage } from "../util";

interface Props {
    item: CollectionEntry<"abroad">
}
const { item } = Astro.props;

const bgImg = await getImage("abroad", item.data.img);
---
<style define:vars={{
    "bg-img-url": `url(${bgImg.src})`,
    "bg-position": item.data.imgPos,
}} />
<div class="travel-card bg-img-captioned container-fluid flex-column flex-end p-600">
    <div class="container flex-between flex-wrap observed slide-up">
        <div>
            <h2 class="heading-spread text-gradient-accent">
                { item.data.where }
            </h2>
            <h3 class="fw-bold">
                { item.data.what }
            </h3>
            <p class="subtitle">
                { item.data.when }
            </p>
        </div>
        <div class="flex-column flex-end">
            <a class="see-more-link subtitle" href={`/abroad/${ item.slug }`}>
                Read more
                <i class="bi-arrow-right"></i>
            </a>
        </div>
    </div>
</div>