---
import type { CollectionEntry } from "astro:content";

interface Props {
    item: CollectionEntry<"abroad">
}
const { item } = Astro.props;
---

<div class="travel-card bg-img-captioned container-fluid flex-column flex-end p-600" style={`--bg-img-url: url(${ item.data.img }); ${ item.data.imgPos ? '--bg-position: ' + item.data.imgPos + ';' : ''}`}>
    <div class="container flex-between flex-wrap observed slide-up">
        <div>
            <h2 class="heading-spread text-gradient-accent">
                { item.data.where }
            </h2>
            <h3 class="fw-bold">
                { item.data.what }
            </h3>
            <p class="subtitle">
                { item.data.when }
            </p>
        </div>
        <div class="flex-column flex-end">
            <a class="see-more-link subtitle" href={`/abroad/${ item.slug }`}>
                Read more
                <i class="bi-arrow-right"></i>
            </a>
        </div>
    </div>
</div>