---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { getImage } from '../../util';

import ProfessionalPage from '@layouts/professional-page.astro';
import ImageOverlay from '@root/components/general/image-overlay.astro';
import SeeMoreLink from "@components/general/see-more-link.astro";

import '@styles/abroad-page.scss';

export async function getStaticPaths() {
    const abroad = await getCollection('abroad');
    return abroad.map(item => ({
        params: { slug: item.slug },
        props:  { item: item }
    }));
}

interface Props {
    item: CollectionEntry<'abroad'>,
}

const { item } = Astro.props;
const { Content } = await item.render();

const bannerImg = await getImage("abroad", item.data.img);
---
<ProfessionalPage title={`${item.data.what} | Sahil Patel`}>
    <ImageOverlay class:list={["banner"]} img={{meta: bannerImg, alt: `${item.data.where} thumbnail`, pos: item.data.imgPos}} loading='eager'>
        <div class="p-400 text-center">
            <h1>
                <div class="heading-spread text-gradient-accent">{ item.data.where }</div>
                <div class="fs-900 fw-bold">{ item.data.what }</div>
            </h1>
        </div>
    </ImageOverlay>

    <div class="markdown container pt-400">
        <Content />
    </div>

    <div class="text-center mt-200">
        <SeeMoreLink pointLeft text="Back to all travel" href={`/abroad#${ item.slug }`} />
    </div>
</ProfessionalPage>
