---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { orderSort } from '../../util';

import ProfessionalPage from '../../layouts/professional-page.astro';
import TravelCard from '../../components/travel-card.astro';

const abroadCollection = await getCollection('abroad');
const abroad = orderSort<CollectionEntry<"abroad">>(abroadCollection);
---

<ProfessionalPage>
    <title slot="title">Abroad | Sahil Patel</title>

    <div class="container">
        <h1 class="section-title">Travel Abroad</h1>
    </div>

    <div>
        {
            abroad.map( item =>
                <div id={ item.slug } class="container my-400">
                    <TravelCard item={ item } />
                </div>
            )
        }
    </div>
</ProfessionalPage>