---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import { getImage } from '../../util';

import ProfessionalPage from '@layouts/professional-page.astro';
import ProjectLinkIcons from '@components/project-link-icons.astro';
import '../../scss/project-page.scss';

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map(item => ({
        params: { slug: item.slug },
        props:  { item: item }
    }));
}

interface Props {
    item: CollectionEntry<"projects">
}
const { item } = Astro.props;
const { Content } = await item.render();

const bannerImg = await getImage("projects", item.data.img);
const bannerGif = item.data.gif ? await getImage("projects", item.data.gif) : null;
---
<style define:vars={{
    projectBannerBgImg:  `url(${bannerImg.src})`,
    projectBannerBgGif:  bannerGif ? `url(${bannerGif.src})` : null,
    projectBannerImgPos: item.data.imgPos || null,
}}>
.project-banner {
    --bg-img-url: var(--projectBannerBgImg);
    --bg-gif-url: var(--projectBannerBgGif);
    --bg-position: var(--projectBannerImgPos);
}
</style>

<ProfessionalPage>
    <title slot="title">{ item.data.title } | Sahil Patel</title>
    <div class="project-banner | bg-img-overlay">
        <div class="overlay p-400 text-center">
            <h1>
                <div class="heading-spread text-gradient-accent">{ item.data.category }</div>
                <div class="fs-900 fw-bold">{ item.data.title }</div>
            </h1>
            <div>
                <ProjectLinkIcons links={ item.data.links } />
            </div>
        </div>
    </div>

    <div class="markdown container pt-400">
        <Content />
    </div>

    <div class="text-center mt-200">
        <a class="see-more-link subtitle" data-point-left href={`/projects#${ item.slug }`}>
            <i class="bi-arrow-left"></i>
            <span>Back to all projects</span>
        </a>
    </div>
</ProfessionalPage>