---
import { orderSort } from "../../util";
import { ProjectData } from "../../data/types";

const projects = orderSort(await Astro.glob<ProjectData>('../../data/projects/*.mdx'));

import BasicPage from "../../layouts/basic-page.astro";
import '../../scss/projects.scss';
import ProjectCard from "../../components/project-card.astro";
---

<BasicPage>
    <title slot="title">Sahil Patel</title>

    <section class="container">
        <h1 class="section-title">Projects</h1>
        <div class="projects-grid">
            { projects.map( project => <ProjectCard item={ project }/>) }
        </div>
    </section>
</BasicPage>
