---
import { getCollection } from "astro:content";
import { orderSort } from "../../util";

const projects = orderSort(await getCollection("projects"));

import ProfessionalPage from "../../layouts/professional-page.astro";
import ProjectCard from "../../components/project-card.astro";
---

<ProfessionalPage>
    <title slot="title">Sahil Patel</title>

    <section class="container">
        <h1 class="section-title">Projects</h1>
        <div class="grid-list">
            { projects.map( project => <ProjectCard item={ project }/>) }
        </div>
    </section>
</ProfessionalPage>
