/* Color palette derived from https://color.adobe.com */
$clr-primary-100: #FAFAFF;
$clr-primary-200: #F2F2FF;
$clr-primary-300: #E6E6FF;
$clr-primary-400: #CCCCFF; /* Base primary */
$clr-primary-500: #B8B8E6;
$clr-primary-600: #9999BF;
$clr-primary-800: #666680;
$clr-primary-900: #333340;
$clr-primary-1000: #202025;

$clr-accent-100: #F2FFF7;
$clr-accent-200: #E6FFEF;
$clr-accent-300: #D6FFE6;
$clr-accent-400: #BFFFD7;
$clr-accent-500: #ACE6C2;
$clr-accent-600: #8FBFA2;
$clr-accent-800: #60806C;
$clr-accent-900: #304036;

$clr-important-400: #FFAAA6;

// Text colors are off-white/black with medium versions at 0.7 ~= B3 opacity
$clr-text-dark: #121212;
$clr-text-dark-medium: #{$clr-text-dark}B3;
$clr-text-light: #E6E6E6;
$clr-text-light-medium: #{$clr-text-light}B3;

@mixin set-light-theme {
    --clr-text-default: #{$clr-text-dark};
    --clr-text-default-medium: #{$clr-text-dark-medium};
    --clr-text-inverse: #{$clr-text-light};
    --clr-text-inverse-medium: #{$clr-text-light-medium};
    color: var(--clr-text-default);
}

@mixin set-dark-theme {
    --clr-text-default: #{$clr-text-light};
    --clr-text-default-medium: #{$clr-text-light-medium};
    --clr-text-inverse: #{$clr-text-dark};
    --clr-text-inverse-medium: #{$clr-text-dark-medium};
    color: var(--clr-text-default);
}

// For specific components which are always light theme
@mixin force-light-theme {
    @include set-light-theme();
    color-scheme: light;
}

// For specific components which are always dark theme
@mixin force-dark-theme {
    @include set-dark-theme();
    color-scheme: dark;
}

:root {
    @include set-light-theme();
}

@media (prefers-color-scheme: dark) {
    :root {
        @include set-dark-theme();
    }
}

$gradient-primary: linear-gradient(90deg, $clr-accent-400 0%, $clr-primary-400 100%);
$gradient-accent: linear-gradient(108deg,#B16CEA 8%,#FF5E69 40%,#FF8A56 77%,#FFA84B 91%);

$vignette: radial-gradient(transparent 45%, rgba(0, 0, 0, 0.3));

$mobile-breakpoint: 750px;
$xs-breakpoint: 400px;

$container-max-width: 1000px;

$sizes: (
    100: 0.25rem,
    200: 0.5rem,
    300: 0.75rem,
    400: 1rem,
    500: 1.5rem,
    600: 2rem,
    700: 3rem,
    800: 4rem,
    900: 5rem,
    1000: 8rem
);

$font-sizes: (
    300: 0.8rem,
    400: 1rem,
    500: 1.25rem,
    600: 1.5rem,
    700: 1.75rem,
    800: 2rem,
    900: 3rem,
    1000: 5rem
);

$font-weights: (
    "light": 300,
    "normal": 400,
    "semi-bold": 500,
    "bold": 700
);

/* https://boxshadows.com/presets */
$box-shadow-light: 0px 4px 6px -1px rgba(0,0,0,0.1) , 0px 2px 4px -1px rgba(0,0,0,0.06);
$box-shadow-float: 0px 20px 25px -5px rgba(0,0,0,0.1) , 0px 10px 10px -5px rgba(0,0,0,0.04);
$box-shadow-float-high: 0px 25px 50px -12px rgba(0,0,0,0.25);

$box-shadows: (
    "light": $box-shadow-light,
    "float": $box-shadow-float,
    "float-high": $box-shadow-float-high,
);