<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Abroad | Sahil Patel</title>
    <module href="/components/head.html"></module>
    <link rel="stylesheet" href="/index.css">
  </head>

  <body>
    <module href="/components/primary-header.html"></module>

    <main>
      <section id="abroad" class="abroad">
        <div class="container">
          <h1 class="section-title">Travel Abroad</h1>
        </div>

        <div>
          <each loop="value, slug in abroad">
            <div id="{{ slug }}" class="container m-400">
                <module href="/components/travel-card.html" slug="{{ slug }}"></module>
            </div>
          </each>
        </div>
      </section>
    </main>
    
    <module href="/components/primary-footer.html"></module>

    <script src="/bundle.js" defer async></script>
  </body>
</html>
