<script locals>module.exports = {slug: "kth"}</script>
<module href="/components/abroad-page.html" slug="{{ slug }}">
    <markdown>
        ## The Decision to Study Abroad
        I had been wanting to study abroad since my freshman year &mdash; especially so after my trip to Guatemala. My original plan was to study abroad in my junior year, but that was halted because of the Covid-19 pandemic. I applied again for Fall 2021, but again it was canceled. So I finally had to make a decision: did I want to lose my final semester of college at home to gain that experience abroad?

        Ultimately, I said yes. I had three and a half amazing years on campus, and I knew that I would keep in touch with my friends. Academically it was great because I had completed my requirements and could take exclusively electives abroad.

        ## Landing in Stockholm
        I made my choice, but I didn't fully realize what it would mean until I landed at Arlanda airport and was attempting to tell a taxi driver who only spoke Swedish where I wanted to go. I arrived at the KTH campus and it was bustling. Everyone had just arrived and were dropping off bags and picking up keys, talking to the student union and meeting people from around the world.

        I had a lot of warming up to do. Really, one of the reasons I wanted to study abroad in the first place was to step outside my comfort zone and learn to adapt. So I took a deep breath and went out to see my new home.

        ## Finding my Circle
        Truthfully, I was lucky. A lot of students from UIUC study abroad at KTH, and so I had a safe and immediate group of friends. But I also knew that I didn't want to be complacent. What would be the point of traveling abroad just to make friends with other Illinoisans?

        KTH's student union set up the most amazing welcome events lasting three weeks. Through those events I met most of my friends for the next five months. After the welcome events ended, weekly board game nights began, and that helped me meet even more.
    </markdown>
    <img class="single-img box-shadow-float-high" src="/images/abroad/kth-board-game-night.jpg" alt="KTH board game night">

    <markdown>
        ## Travel
        Before leaving, everyone asked me where I wanted to travel and went on about how easy it is to explore Europe. But I am a natural homebody, and so traveling wasn't the biggest thing on my mind. By the end, however, I had gone on five separate trips and had a blast!

        My first trip was to Kiruna, in the north of Sweden to see the northern lights. Our UIUC group organized it with another group of German/Austrian friends. We stayed in a cabin 30 minutes outside Kiruna on the bank of a frozen river for two days and two nights. During the day we would spend time with winter activities like cross-country skiing, snow shoeing, and ice fishing. Both nights we were lucky enough to see the aurora!
    </markdown>
    <div class="img-grid">
        <div class="column">
            <img class="box-shadow-float-high" src="/images/abroad/kth-kiruna-plane-window.jpg" alt="Out a plane window">
        </div>
        <div class="column">
            <div class="row">
                <img class="box-shadow-float-high" src="/images/abroad/kth-kiruna-aurora.jpg" alt="The aurora">
            </div>
            <div class="row">
                <img class="box-shadow-float-high" src="/images/abroad/kth-kiruna-group.jpg" alt="Our group in front of the cabins">
            </div>
        </div>
    </div>

    <markdown>
        Afterwards my UIUC friends visited me in Stockholm and we went together to Munich. From them on I had found my traveling spirit and planned trips to London, Copenhagen, and a bus tour of Norway. On each of those trips I traveled with people I didn't know super well at the time, but that turned out to be the best part. Spending time with people you don't know is exactly how you get to know them better, and how you forge deeper friendships.
    </markdown>
    <div class="img-grid">
        <div class="column">
            <div class="row">
                <img class="box-shadow-float-high" src="/images/abroad/kth-munich-group.jpg" alt="My friends and me in Munich">
            </div>
            <div class="row">
                <img class="box-shadow-float-high" src="/images/abroad/kth-copenhagen-group.jpg" alt="Group photo on top of a clock tower in Copenhagen">
            </div>
        </div>
        <div class="column">
            <img class="box-shadow-float-high" src="/images/abroad/kth-norway-cabins-group-tall.jpg" alt="Group photo outside cabins on Luster Fjord in Norway">
        </div>
    </div>

    <markdown>
        ## Courses
        I also had a lot of fun in my courses at KTH. My favorite had to be Information Visualization, where I created my [OrbitEye project](/projects/orbiteye). The education system in Europe and at KTH specifically was quite different than back home. To add on to that, I was taking masters level courses (because they are the ones available in English), which meant the expected background was much more scientific and formal than I was used to. But as I adjusted to that environment, I was able to learn a lot from my professors and the other students around me.
    </markdown>
    <div class="img-grid">
        <div class="column">
            <div class="row">
                <img class="box-shadow-float-high" src="/images/abroad/kth-vic-migration-demo.jpg" alt="Me user testing another project for Information Visualization">
            </div>
            <div class="row">
                <img class="box-shadow-float-high" src="/images/abroad/kth-vic-iss.jpg" alt="The visualization studio (VIC) at KTH">
            </div>
        </div>
        <div class="column">
            <img class="box-shadow-float-high" src="/images/abroad/kth-orbiteye-presentation.jpg" alt="Our final presentation for OrbitEye">
        </div>
    </div>

    <markdown>
        ## Looking Back
        I had such an amazing time in Stockholm. I met so many new people from all over who were similar to me in many ways and also quite different. KTH's student union made it so easy to slot right in from the beginning and find my own community within the masses. Looking back on the time where I had to make that decision, as much as I lost &mdash; missing graduation, senior classes with my friends, activities and events on campus &mdash; I gained so much back for it, and I would do it a thousand times over again.
    </markdown>
    <div class="img-grid">
        <div class="column">
            <img class="box-shadow-float-high" src="/images/abroad/kth-luca-and-me.heif" alt="My roommate and me outside KTH main campus">
        </div>
        <div class="column">
            <div class="row">
                <img class="box-shadow-float-high" src="/images/abroad/kth-pascal-birthday.jpg" alt="Us celebrating Pascal's birthday">
            </div>
            <div class="row">
                <img class="box-shadow-float-high" src="/images/abroad/kth-lukas-teknikringen-welcome.jpg" alt="A housewarming pizza party for Lukas">
            </div>
        </div>
    </div>
    
</module>