---
import type { CollectionEntry } from "astro:content";
import { getImage } from "@root/util";
import ImageOverlay from "@components/general/image-overlay.astro";
import SeeMoreLink from "@components/general/see-more-link.astro";

interface Props {
    item: CollectionEntry<"collections">,
    loading?: "eager" | "lazy"
}
const { item, loading } = Astro.props;

const bgImg = await getImage("collections", item.data.thumbnail.src);
---
<ImageOverlay id={ item.slug } class="collection-card box-shadow-float" loading={loading} img={{meta: bgImg, alt: item.data.thumbnail.alt, pos: item.data.thumbnail.pos}}>
    <div class="w-100 flow p-400">
        <div>
            <h2 class="fw-bold fs-600">{ item.data.title }</h2>
        </div>

        <div set:html={ item.data.description }></div>

        <SeeMoreLink text="See full collection" href={`/personal/collections/${ item.slug }`}/>
    </div>
</ImageOverlay>

<style lang="scss">
    @use "@styles/global/_variables.scss" as *;
    .collection-card {
        padding: min(7%, map-get($sizes, 800));
        min-height: 350px;
    }
</style>
