---
import type { CollectionEntry } from "astro:content";
import ProjectLinkIcons from "./project-link-icons.astro";
import { getImage } from "@root/util";

interface Props {
    item: CollectionEntry<"projects">
}
const { item } = Astro.props;

const bgImg = await getImage("projects", item.data.img);
const bgGif = item.data.gif ? await getImage("projects", item.data.gif) : null;
---
<style define:vars={{
    "bg-img-url": `url(${bgImg.src})`,
    "bg-gif-url": bgGif ? `url(${bgGif.src})` : null,
    "bg-position": item.data.imgPos ? item.data.imgPos : null
}} />
<div id={ item.slug } class="project-card | bg-img-overlay">
    <div class="overlay w-100 flow p-400">
        <div>
            <p class="heading-spread text-gradient-accent">{ item.data.category }</p>
            <h2 class="fw-bold">{ item.data.title }</h2>
        </div>

        <div set:html={ item.data.description }></div>

        <div class="project-links">
            <a class="see-more-link subtitle" href={`/projects/${ item.slug }`}>
                <span>Read more</span>
                <i class="bi-arrow-right"></i>
            </a>
            <ProjectLinkIcons links={ item.data.links } />
        </div>
    </div>
</div>