---
import type { CollectionEntry } from "astro:content";
import ProjectLinkIcons from "@components/page-specific/project-link-icons.astro";
import ImageOverlay from "@components/general/image-overlay.astro"
import { getImage } from "@root/util";

interface Props {
    item: CollectionEntry<"projects">
}
const { item } = Astro.props;

const bgImg = await getImage("projects", item.data.img);
const bgGif = item.data.gif ? await getImage("projects", item.data.gif) : null;
---
<ImageOverlay id={ item.slug } class="project-card" img={{meta: bgImg, alt: "", pos: item.data.imgPos}} gif={bgGif ? {meta: bgGif, alt: "", pos: item.data.imgPos} : undefined}>
    <div class="flow p-400">
        <div>
            <p class="heading-spread text-gradient-accent">{ item.data.category }</p>
            <h2 class="fw-bold">{ item.data.title }</h2>
        </div>

        <div set:html={ item.data.description }></div>

        <div class="project-links">
            <a class="see-more-link subtitle" href={`/projects/${ item.slug }`}>
                <span>Read more</span>
                <i class="bi-arrow-right"></i>
            </a>
            <ProjectLinkIcons links={ item.data.links } />
        </div>
    </div>
</ImageOverlay>

<style lang="scss">
    @use "@styles/global/variables" as *;

    .project-card {
        box-shadow: $box-shadow-float;
        min-height: 350px;

        h2 {
            font-size: map-get($font-sizes, 600);
        }

        .project-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
</style>