---
import type { CollectionEntry } from "astro:content";
import { getImage } from "@root/util";
import SeeMoreLink from "@components/general/see-more-link.astro";

interface Props {
    item: CollectionEntry<"abroad">
}
const { item } = Astro.props;

const bgImg = await getImage("abroad", item.data.img);
---
<style define:vars={{
    "bg-img-url": `url(${bgImg.src})`,
    "bg-position": item.data.imgPos,
}}>
    .travel-card {
        min-height: 500px;
    }
</style>
<div class="travel-card bg-img-captioned container-fluid flex-column flex-end p-600">
    <div class="container flex-between flex-wrap observed slide-up">
        <div>
            <h2 class="heading-spread text-gradient-accent">
                { item.data.where }
            </h2>
            <h3 class="fw-bold">
                { item.data.what }
            </h3>
            <p class="subtitle">
                { item.data.when }
            </p>
        </div>
        <div class="flex-column flex-end">
            <SeeMoreLink text="Read more" href={`/abroad/${ item.slug }`} />
        </div>
    </div>
</div>