---
import type { CollectionEntry } from "astro:content";
import Image from "@components/general/image-wrapper.astro";
import { getImage } from "../../util";

interface Props {
    job: CollectionEntry<"jobs">
    long: boolean
}
const { job, long } = Astro.props;
const { Content } = await job.render();
const logo = await getImage("jobs", job.data.logo);
---
<div class="work-item">
    <div class="flex-between gap-400">
        <div class="work-heading">
            <h2 class="heading-spread text-gradient-accent">
                { job.data.company }
            </h2>
            <h3 class="fw-bold">
                { job.data.position }
            </h3>
            <span class="subtitle">
                { job.data.timeframe }
            </span>
        </div>

        <div class="work-logo | flex-column flex-end">
            <Image src={ logo } alt=`${job.data.company} logo` loading="lazy" />
        </div>
    </div>

    <div class="work-description | flow markdown">
        { long ? <Content /> : job.data.summary }
    </div>
</div>