<header class="primary-header">
    <div class="primary-logo">
        <a href="/#" class="text-gradient-accent fs-800 fw-bold">Sahil Patel</a>
    </div>
    <div class="mobile-nav-toggle fs-600">
        <i class="mobile-nav-open | bi-list"></i>
        <i class="mobile-nav-close | bi-x-lg visually-hidden"></i>
    </div>
    <nav id="primary-nav" class="primary-nav">
        <div><a href="/experience.html">Experience</a></div> 
        <div><a href="/abroad.html">Abroad</a></div>
        <div><a href="/projects.html">Projects</a></div>
    </nav>
</header>