<footer class="primary-footer">
    <a href="/" class="text-gradient-accent fs-800 fw-bold mr-400 mb-400">Sahil Patel</a>
    <div class="footer-links">
        <div><a href="/experience">Experience</a></div>
        <div><a href="/abroad">Abroad</a></div>
        <div><a href="/projects">Projects</a></div>
        <div><a href="https://linkedin.com/in/sahilshahpatel">LinkedIn</a></div>
        <div><a href="https://github.com/sahilshahpatel">GitHub</a></div>
        <div><a href="mailto:sahilshahpatel@gmail.com">Email</a></div>
    </div>
</footer>