<div id="{{slug}}" class="project-card | bg-img-overlay" style="--bg-img-url: url({{ projects[slug].img }}); {{projects[slug].gif ? '--bg-gif-url: url(' + projects[slug].gif + ');' : ''}} {{projects[slug].imgPos ? '--bg-position: ' + projects[slug].imgPos + ';' : ''}}">
    <div class="overlay w-100 flow p-400">
        <div>
            <p class="heading-spread text-gradient-accent">{{ projects[slug].category }}</p>
            <h2 class="fw-bold">{{ projects[slug].title }}</h2>
        </div>
        
        <div>
            {{{ projects[slug].description }}}
        </div>

        <div class="project-links">
            <a class="see-more-link subtitle" href="/projects/{{ slug }}">
                <span>Read more</span>
                <i class="bi-arrow-right"></i>
            </a>
            <module href="/components/project-link-icons.html" slug="{{ slug }}"></module>
        </div>
    </div>
</div>