<div class="work-item">
    <div class="work-heading">
        <h2 class="heading-spread text-gradient-accent">
            {{ jobs[slug].company }}
        </h2>
        <h3 class="fw-bold">
            {{ jobs[slug].position }}
        </h3>
        <span class="subtitle">
            {{ jobs[slug].timeframe }}
        </span>
    </div>
    <div class="work-logo | flex-column flex-end">
        <img src="{{ jobs[slug].logo }}" alt="" loading="lazy">
    </div>
    <div class="work-description | flow">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur ipsam, expedita eos earum quisquam explicabo, nisi maiores unde cum fugit sint culpa exercitationem excepturi in hic numquam, obcaecati repudiandae. Blanditiis.</p>
    </div>
</div>