<div class="work-item">
  <div class="work-heading">
    <h2 class="heading-spread text-gradient-accent">
      {{ jobs[slug].company }}
    </h2>
    <h3 class="fw-bold">
      {{ jobs[slug].position }}
    </h3>
    <span class="subtitle">
      {{ jobs[slug].timeframe }}
    </span>
  </div>
  <div class="work-logo | flex-column flex-end">
    <img src="{{ jobs[slug].logo }}" alt="" loading="lazy">
  </div>
  <div class="work-description | flow markdown">
    <if condition="long === 'true'">
      {{{ jobs[slug].description }}}
    </if>
    <else>
      {{{ jobs[slug].summary }}}
    </else>
  </div>
</div>